<%- include("partials/header") %>

  <main class="text-center py-4">
    <span>Les quiz sont réservés aux utilisateurs connectés.
    Veuillez vous connecter pour jouer. </span>
    <a class="p-2" href="/login">Se connecter</a>
  </main>


  <%- include("partials/footer") %>