<%- include("partials/header") %>

<main class="container py-4 text-center">

    <h1>Accès refusé</h1>
    <span>Vous n'êtes pas autorisé à accéder à cette page.
        Veuillez vous connecter pour jouer. </span>
    <a class="p-2" href="/">Retour à l'accueil</a>
  
</main>

<%- include("partials/footer") %>