
<%- include("partials/header") %>

  <main class="container py-4">

    <h1>Se connecter</h1>

    <% if (locals.error) {%>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% } %>

    <form action="/login" method="POST">
      <label class="form-label h4" for="email">Email</label>
      <input class="form-control mb-4" type="email" id="email" name="email" placeholder="email@domain.com">

      <label class="form-label h4" for="password">Mot de passe</label>
      <input class="form-control" type="password" id="password" name="password" placeholder="*********">

      <input class="btn btn-primary d-block my-4 mx-auto" type="submit" value="Se connecter">
    </form>

  </main>

  <%- include("partials/footer") %>