<main class="container py-4 text-center">

    <h1>Page admin</h1>
    <p>D'ici vous pouvez agir sur le levels</p>
    <a href="/admin/create"><button class="btn btn-primary my-4 mx-auto">Créer un level </button></a>
    <a href="/admin/update"><button class="btn btn-secondary my-4 mx-auto"> Mettre jour un level </button></a>
    <a href="/admin/delete"><button class="btn btn-light my-4 mx-auto"> Supprimer un level </button></a>
  
